@import "tailwindcss";


.main-header
{
    /* background-color: hsla(0, 96%, 48%, 0.5); */
    height: fit-content;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;


    .mobile-container
    {   
        height: fit-content;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        @media (width >= 48rem /* 768px */) {
            width: fit-content;
            justify-content: start;
            gap: 1rem;
            flex-wrap: nowrap;
        }

         .logo-container
        {
            height: fit-content;
            width: fit-content;
            margin: 1rem 0 1rem 1rem;
            display: flex;
            place-items: center;
            flex-shrink: 0;
            
            .header-img
            {
                height: 3rem;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }

        .title-container
        {
            height: fit-content;
            width: fit-content;
            display: flex;
            place-items: center;
            
        }

        .burger-container
        {
            height: fit-content;
            width: fit-content;
            margin: 1rem 1rem 1rem 0;
            display: flex;
            z-index: 30;

            @media (width >= 48rem /* 768px */) {
                display: none;
            }

            :global(.hamburger-react)
            {
                z-index: 50;
            }
        }
    }

    .nav-container
    {
        display: none;

        @media (width >= 48rem /* 768px */) {
            height: 48px;
            width: fit-content;
            margin: 1rem;
            display: flex;
            justify-self: end;

        }        
    }
}