main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
}

h1,
h2 {

    text-decoration: underline;
    font-size: xx-large;
    font-weight: bold;
    margin: 1em 0;
}

h2 {
    font-size: x-large;
    margin-top: 0;
}

.hidden {
    display: none !important;
}



.card {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

}