@theme {
    /* À voir si ça sera nécessaire. */
    
    /* --color-myblue: hsl(234, 70%, 39%);
    --color-mygreen: hsl(123, 61%, 47%); */
    --color-offwhite: hsl(45, 29%, 60%);
    --color-hoverTxt: hsl(237, 86%, 64%);
    
    --color-myStone-700: hsl(0, 0%, 29%);
    --color-myStone-800: hsl(0, 0%, 23%);
    --color-myStone-900: hsl(0, 0%, 12%);
    --color-myWood-700: hsl(27, 39%, 30%);
    --color-myWood-800: hsl(27, 40%, 25%);
    --color-myWood-900: hsl(26, 40%, 17%);

    
}